.app-grid.temperature-graph-grid {
    .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
        font-size: 12px;
    }

    .dx-editor-cell .dx-texteditor .dx-texteditor-input {
        padding: 0 8px 0 8px;
    }
}

.temperature-graph-tooltip {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 5px;
    div {
        display: flex;
        gap: 10px;
        &:nth-last-child(2) {
            flex: 1
        }
    }
}