.app-grid.temperagure-graph-grid {
    .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
        font-size: 12px;
    }

    .dx-editor-cell .dx-texteditor .dx-texteditor-input {
        padding: 0 8px 0 8px;
    }
}

.screen-large, .screen-medium {
    .test-chart {
        width: 600px;
    }
}

.screen-small, .screen-x-small {
    .test-chart {
        width: 100%;
    }
}